    header {
      text-align: center;
      background: url("https://s-media-cache-ak0.pinimg.com/originals/a3/d2/52/a3d25240ab93e8165fb0e43202423ce0.gif");
      background-size: cover;
      color: black;
    }
    .nav {
      color: white;
    }
    h1 {
      font-size: 70px;
      font-size: 36px;
      padding: 5px;
    }
    img {
      margin: 40px 0px 0px 0px;
      border: 7px solid white;
      border-radius: 20px;
    }
    ul {
      padding: 10px;
      background: rgba(0,0,0,0.5);
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    div{
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
    }
    @media (max-width: 500px) {

      }
      li {
        padding: 5px;
        display: block;
      }
    #profile {
      height: 600px;
      width: 700px;
    }
